<html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Aeolian Eye</title>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.min.js"></script>
    <script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>
  </head>
<style type="text/css">
#main{
  position: relative;
}
#graph{
   margin-top:20em;
  position: absolute;
  top:60%;
  transform: translate(0, -50%);
}
h1 {
    position: relative;
    text-align: center;
    /*background-image: url("static/logo.png");*/
}

#collapseExample{
  margin-left: 8%;
  width:40%;
  float:left;
  margin-bottom: 1em;
}

.list-group-item{
  display: inline;
  float:left;
  width:25%;
  padding:1em;
  margin-bottom:2em; 
}


#demo{
  margin:auto;
  width:88%;
}
</style>
  <body>
    <h1>AEOLIAN EYE</h1>
    <div id="main">
      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://aeolianair.com" id="refre">Aeolian</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="https://aeolianair.com/map">Map</a></li>
        <li class="active"><a href="https://aeolianair.com/butler">Butler<span class="sr-only">(current)</span></a></li>
        <li ><a href="https://aeolianair.com/reality">Reality</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi Xiaoyue! <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">My Account</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://aeolianair.com/help">Help</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </div>
<div id="demo">
  <li class="list-group-item list-group-item-success">Great Air: ( 0, 100 ] </li>
  <li class="list-group-item list-group-item-info">Good Air: ( 100, 130 ]</li>
  <li class="list-group-item list-group-item-warning">Pollution: ( 130, 200 ]</li>
  <li class="list-group-item list-group-item-danger">Hazardous: 200 + </li>
</ul>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Location</th>
      <th>Data</th>
      <th>Main Pollutants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>TomLovesJerry</td>
      <td>Dining Room</td>
      <td id ="data1"></td>
      <td>Combustible Gas</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Aeolian_98</td>
      <td>Bedroom</td>
      <td id="data2"></td>
      <td>Dust</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Pikachuuu</td>
      <td>Study Room</td>
      <td id="data3"></td>
      <td>Dust</td>
    </tr>
        <tr>
      <th scope="row">4</th>
     <td>
  <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Add a Home Device
  </a>
       </td>
    </tr>
  </tbody>
</table>
  <div class="collapse" id="collapseExample">
  <div class="card card-block">
    <div class="input-group">
     <input type="text" class="form-control" placeholder="Device ID" aria-describedby="basic-addon2">
      <input type="text" class="form-control" placeholder="Device Name" aria-describedby="basic-addon2">
       <input type="text" class="form-control" placeholder="Location" aria-describedby="basic-addon2">
     <span class="input-group-addon" id="basic-addon2">Add!</span>
    </div>
  </div>
</div>
<div id="graph">
    <script type="text/javascript">
var p = [];
var q = [];
var r = [];
var sensorA = [];
var sensorB = [];
var sensorC = [];
  var console_data = function (e) {
    $.get('/data', function (newdata) {
      var newresults = newdata['results'];
      for(i=0;i<newresults.length;i++){
        // if（newresults[i].id=="1b0030001947353236343033"）{
        //   sensorC.push(newresults[i]);
        // }else 
        if(newresults[i].id=="2c0047001347353236343033"){
          sensorB.push(newresults[i]);
        }else{
          sensorA.push(newresults[i]);
        }
      }
      //console.log(newdata);
      //console.log("latest");
      //console.log(newresults[newresults.length-1].data);
    document.getElementById("data1").innerHTML = sensorA[sensorA.length-1].data;
   document.getElementById("data2").innerHTML = sensorB[sensorB.length-1].data;
    document.getElementById("data3").innerHTML = sensorC[sensorC.length-1].data;
    });
  }
  setInterval(function () {console_data();}, 500);

  $(function() {
    console_data();
    $('#refre').bind('click', console_data());
  });
function setup() {
  // Sets the screen to be 720 pixels wide and 400 pixels high
  createCanvas(windowWidth, windowHeight/2.4);

}
function draw(){
  background(240);
  noStroke();
  fill(225, 255, 189);
  rect(0,height*0.59,width,height/2.5);
  fill(212, 242, 255);
  rect(0,height*0.5,width,height/5);
  fill(255,248,199);
  rect(0,height/3,width,height/4);
  fill(255,220,215);
  rect(0,0,width,height/3);
  noSmooth();
  // Draw gray box;
  fill(0);
textSize(25);
text("Trends in past 12 hrs", 10, 40);
  strokeWeight(5);
  stroke(170);
  for(i=0;i<50;i++){
      line(150+width/60*i, height-sensorA[i]+5, 150+width/60*(i+1), height-sensorA[i+1])+5;
    }
stroke(100);
      for(i=0;i<50;i++){
      line(150+width/60*i, height-sensorB[i]+5, 150+width/60*(i+1), height-sensorB[i+1]+5);
    }
stroke(10);
      for(i=0;i<50;i++){
      line(150+width/60*i, height-sensorC[i]+5, 150+width/60*(i+1), height-sensorC[i+1]+5);
    }
      noStroke();
      textSize(19);
        fill(170);
     text("TomLovesJerry", 10, 100);
     fill(10);
text("Aeolian_98", 10, 130);
fill(100);
  text("Pikachuuu", 10, 160);
  //line(400, p4, 500, p3);

  // Draw white points
  //stroke(255);
  // point(p1, p1);
  // point(p1, p3); 
  // point(p2, p4);
  // point(p3, p1); 
  // point(p4, p2);
  // point(p4, p4);
}


    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </div>
  </body>
</html>
