<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      max-height: 100%;
  }
  img{
    height:20%;
    display: block;
  }

  .item{
    max-height:100px;
  }
  </style>
</head>
  <style>
h1 {
    position: relative;
    text-align: center;
    /*background-image: url("static/logo.png");*/
}
</style>
  <body>
    <h1>Aeolian Eye</h1>
    <div id="main">
      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" onclick = "location.reload()" id="refre">Aeolian</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="https://aeolianair.com/map">Map</a></li>
        <li ><a href="https://aeolianair.com/butler">Butler</a></li>
        <li class="active"><a href="https://aeolianair.com/butler">Reality<span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi Xiaoyue! <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">My Account</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://aeolianair.com/help">Help</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </div>
<div class="container">
  <div class="card">
  <div class="card-block">
    Any additional comments or suggestions would be greatly appreciated at aeolianair@gmail.com
  </div>
</div>
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="static/Pikachu.png" alt="Chania" width="460" height="345">
    <div class="carousel-caption d-none d-md-block">
      <h3>Pikachu</h3>
      <h4>Good Air!</h4>
    </div>
      </div>

      <div class="item">
        <img src="static/Bulbasaur.png" alt="Chania" width="200" height="200">
        <div class="carousel-caption d-none d-md-block">
      <h3>Bulbasaur</h3>
      <h4>Great Air!</h4>
    </div>

      </div>
            <div class="item">
        <img src="static/Koffing.png" alt="Flower" width="200" height="200">
        <div class="carousel-caption d-none d-md-block">
      <h3>Koffing</h3>
      <h4>Slight Air Pollution</h4>
    </div>
      </div>
    
      <div class="item">
        <img src="static/Gastly.png" alt="Flower" width="200" height="200">
        <div class="carousel-caption d-none d-md-block">
      <h3>Gastly</h3>
      <h4>High Level of Hazardous Gas.</h4>
    </div>
      </div>

      <div class="item">
        <img src="static/Muk1.png" alt="Flower" width="200" height="200">
        <div class="carousel-caption d-none d-md-block">
      <h3>Muk</h3>
      <h4>High Dust Concentration.</h4>
    </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>
</html>
